/* Global Styles */
*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("/images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  height: 100vh;
  color: hsl(300, 43%, 22%);
  overflow: hidden;
}

.header {
  font-size: 1.6rem;
  font-weight: 700;
  width: 400px;
  position: absolute;
  left: 12%;
  top: 10%;
}

.header > p {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(303, 10%, 53%);
  width: 110%;
  margin-top: 10px;
}

.rating-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  left: 13%;
}

.rating-container {
  margin: 10px;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 70px;
  border-radius: 10px;
  display: flex;
  margin-left: 350px;
}

.star-container img {
  margin-left: 10px;
  position: relative;
  left: -50px;
}

.star-container span {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.top {
  position: relative;
  left: -70px;
}
.mid {
  position: relative;
  left: 0px;
}
.bottom {
  position: relative;
  left: 70px;
}

.buyer-cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 650px;
}

.cards-container {
  background-color: hsl(300, 43%, 22%);
  width: 400px;
  height: 250px;
  margin: 20px;
  border-radius: 10px;
  color: #fff;
}

.left {
  position: relative;
  top: -50px;
}

.middle {
  position: relative;
  top: -30px;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 30px;
}

.card-header img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.card-header > h5 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  margin-left: 30px;
}

.card-header > h5 > span {
  color: hsl(333, 80%, 67%);
  font-weight: 300;
  margin-top: 5px;
}

.feedback {
  max-width: 290px;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  line-height: 25px;
}

@media only screen and (max-width: 1070px) {
  body {
    overflow: auto;
  }
  .main-container {
    width: 375px;
  }
  .header {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .header > h1 {
    font-size: 45px;
  }
  .header > p {
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    line-height: 23px;
    margin-top: 15px;
  }
  .rating-stars {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-71%, -50%);
    margin-top: 20px;
  }
  .rating-container {
    width: 400px;
    left: 0;
    padding: 35px 120px;
    text-align: center;
    justify-content: center;
  }
  .star-container > span {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: 210px;
    justify-content: center;
  }
  .star-container > img {
    position: relative;
    top: -20px;
    left: -5px;
  }

  .buyer-cards {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    position: absolute;
    left: 51%;
    top: 90%;
    transform: translate(-50%);
  }

  .cards-container {
    width: 400px;
    margin: 0px;
  }
}
